﻿@model STORMV3.Models.DeliveryLocation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DeliveryLocation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateOfDispatch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfDispatch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstimateDateOfArrival)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstimateDateOfArrival)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DeliveryLocationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
