﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>

        <li>@Html.ActionLink("Categories", "create", "Categories")</li>
        <li>@Html.ActionLink("DeliveryLocations", "create", "DeliveryLocations")</li>
        <li>@Html.ActionLink("Drivers", "create", "Drivers")</li>
        <li>@Html.ActionLink("EvacuationCenters", "create", "EvacuationCenters")</li>
        <li>@Html.ActionLink("Locations", "create", "Locations")</li>
        <li>@Html.ActionLink("ReliefGoodsVehicles", "create", "ReliefGoodVehicles")</li>
        <li>@Html.ActionLink("VehicleDrivers", "create", "VehicleDrivers")</li>
        <li>@Html.ActionLink("Cities", "create", "Cities")</li>
        <li>@Html.ActionLink("FloodAreas", "create", "FloodAreas")</li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
