﻿@model STORMV3.Models.FloodArea

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FloodArea</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tittle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tittle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripton)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripton)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FloodLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FloodLevel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FloodAreaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
