﻿@model IEnumerable<STORMV3.Models.FloodArea>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tittle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripton)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FloodLevel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tittle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripton)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FloodLevel)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FloodAreaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FloodAreaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FloodAreaId })
        </td>
    </tr>
}

</table>
