﻿@model STORMV3.Models.EvacuationCenter

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EvacuationCenter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EvacName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EvacName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EvacDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EvacDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EvacuationCenterID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
