﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    2544 Taft Avenue<br />
    Malate, Manila, 1004<br />
    Metro Manila, Philippines <br />
    <abbr title="Phone">P:</abbr>
    (02) 230-5100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:stevejose.aranjuez@benilde.edu.ph">Technical Support</a><br />
    <strong>Marketing:</strong> <a href="mailto:sohankumar.motwani@benilde.edu.ph">Marketing In-charge</a>
</address>