﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>STORM</h1>
    <p class="lead">The Strategic Tactics for Operational and Relief Measures (STORM) is a system consisting of an Android application and this administration panel.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Mobile Application</h2>
        <p>
            STORM is an emergency guide for flood hazards, providing its users with the ability to look for the nearest evacuation centers when required, up-to-date weather information (weather, temperature), visualizations on current rainfall data, emergency SOS button which sends an SMS to 911, and a list of safety measures that a user must take when in a flood-related emergency situation.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Application</h2>
        <p>The STORM web app has an administration panel, mainly allowing the administrators to add and adjust several elements of the application, changes in which will be reflected in the mobile app.</p>
    </div>
    <div class="col-md-4">
        <h2>NASA SpaceApps 2017</h2>
        <p>Space Apps is an international hackathon that occurs over 48 hours in cities around the world. Coders, scientists, designers, storytellers, makers, builders, technologists, and everyone enthusiastic about space come together to address challenges we face on Earth and in space!</p>
        <p><a class="btn btn-default" href=https://2017.spaceappschallenge.org/"">Learn more &raquo;</a></p>
    </div>
</div>